<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bubu-itter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">

</head>

<body>

    <div class='container'>
        <form method="POST" class='form'>
            {% csrf_token %}
            <fieldset class= 'form_field'>
                <legend>SignUp</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">SignUp</button>
            </div>
            <a href="{%url 'login' %}"><p>alredy have an account</p></a>
        </form>
    </div>

</body>
</html>
