{% extends 'feed/base.html' %}

{%block content%}

  <div class='post_feed'>
      <h1>Hi, {{user.username}}</h1>
      <p class="subtitle">Bu-Bu-Bu as you want</p>
      {% comment %} <p>Click bellow to BuBuBu</p> {% endcomment %}
      <p><a href="{% url 'tweetcreate' %}" role="button">Start your Bu-Bu-BU</a></p>
      <hr>
  </div>


    <div class='container'>
    {%for tweet in object_list %}

        <div class="card">

            <div class="card-header">
                {% comment %} <img src='{{ user.profile.image.url }}' alt = 'generic placehold image'> {% endcomment %}
                <a href='#'>{{tweet.uname}} </a>
                <p class='date_time'> {{tweet.datetime}} </p>
            </div>

            <div class="card-body">
              <p class="card-text">{{tweet.text}}</p>
              {% if tweet.uname == user %}
              <a href="{% url 'tweetupdate' tweet.id %}"><button class='button'>Update</button></a>
              <a href="{% url 'tweetdelete' tweet.id %}"><button class='button'>Delete</button></a>
              {% endif %}
            </div>

        </div>
    {% endfor %}
    </div>
{%endblock content%}

